.root {
     -fx-background-image: url("bg_all.png");
}

.button {
    -fx-font: 12px "Arial";
    -fx-background-color: #306CAB;
    -fx-text-fill: #FFF;
    -fx-padding: 5px;
}


.orderListView {
    -fx-background: #0276AE;
    -fx-padding: 20;
}

.tool-bar {
   -fx-background-color: #D3E4F4;
}

.tool-bar .label{
    -fx-text-fill: #000;
}

#appToolBar {
     -fx-background-color: #306CAB;
}

.text-field{
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.titled-pane {
 -fx-background-color: rgba(80, 150, 200, 0.2);
}

.titled-pane > .title
{
    -fx-background-color: rgba(0, 60, 136, 0.5);
    -fx-font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.titled-pane > .title > .text
{
    -fx-fill: WHITE;
}


.list-cell:odd {
    /*-fx-background-color: derive(-fx-control-inner-background,-5%);*/
    -fx-background-color: transparent;
}

list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
}



.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: #B3B6CA;
    -fx-text-fill: -fx-selection-bar-text;
}